


<div class="border" style="width: 30%">
    <div class="card-header text-center">
        <h3>Category Detail</h3>
    </div>
    <div class="card-body">
        <table>
            <tbody>
                <tr>
                    <td><strong>Deparment ID : </strong>@Category.CategoryID</td>
                </tr>
                <tr>
                    <td><strong>Deparment Name : </strong>@Category.CategoryName</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-outline-danger btn-block" @onclick="DeleteClick" style="font-weight: bold">
            Delete
        </button>
        <button type="button" class="btn btn-outline-primary btn-block" @onclick="BackToList" style="font-weight: bold">
            Back to List
        </button>
    </div>
</div>


@code {
    [Parameter]
    public CategoryView Category { get; set; } = new CategoryView();

    [Parameter]
    public EventCallback DeleteClick { get; set; }

    [Parameter]
    public EventCallback BackToList { get; set; }


}